h1 {
	line-height: 80px;
	margin-left: 10px;
}

a:link {
	text-decoration: none;
}

.navbar {
	grid-area: 1 / 2 / 2 / 3;
	display: flex;
	justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
header .sticky {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
header .navbar ul li {
	display: inline-block;
	line-height: 81px;
}

header .navbar ul li a {
	width: 125px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0px 12px;
	margin-left: 16px;
	border-radius: 3px;
	text-transform: uppercase;
	color: #a4aead;
	border: 2px solid transparent;
	font-size: 14px;
}

header .navbar ul li a:hover {
	border-color:  #5b6168;
}

header .navbar ul li a:hover {
	border-color: #23b7a4;
	color: #23b7a4;
}

.nav-link{
	transition: 0.7s ease;
}

.hamburger {
	display: none;
	cursor: pointer;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
	background-color: white;
}
@media(max-width: 900px){
	.hamburger {
		display: block;
	}
	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #1d2126;
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}
	.nav-item {
		margin: 16px 0;
	}
	.nav-menu.active{
		left: 0;
	}
}